.periods {
  user-select: none;
  /* border: 1px solid gray; */
  position: relative;
  top: 50px;
}

.period {
  top: 5px;
  display: inline;
  
  font-size: 9pt;

  cursor: pointer;
  margin: 0 10px 0 10px;
}

.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  
  position: relative;
  top: 15px;
  right: 16px;

  background-color: #AAA;
  border-radius: 50%;
}

.period[activate='true'] {
  color: blue;
}

.period[activate='true'] .circle {
  background-color: blue;
}