.App {
  text-align: center;
  min-width: 800px;
  min-height: 600px;
}

.hidden {
  opacity: 0;
}

/* to be remove */
.temp {
  position: absolute;
  width: 1000px;
  top: 50%;
  left: 50%;

  margin-left: -500px;
  margin-top: -25px;
  display: none;

  z-index: 9999;
}