* {
    padding: 0;
    margin: 0;
}

.grid {
    /* li에 따라 가변되어야 함 */
    max-width: 560px;           
    min-width: 560px;
}

.grid p {
    word-break:break-all;
}

.grid h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -55px;

    opacity: 0;
}

.block_line {
    list-style: none;
}

.block_line li {
    float: left;
    width: 10px;
    height: 10px;
    font-size: 3pt;

    background-color: #EEE;

    margin: 1.5px;
    margin-right: 4px;

    cursor: pointer;
}

.block_line li:hover {

    margin: 0.5px;
    margin-right: 3px;

    width: 12px;
    height: 12px;
}

.block_line li span {
    position: absolute;
    display: none;
    
    margin-top: -25px;
    padding: 2px;

    color: white;
    font-size: 9pt;

    background-color: black;
    border-radius: 5px;
}
.block_line li:hover span{
    display: inline;
}

.block_line li[area='0'] {
    cursor: default;
    opacity: 0;
}

.circle {
    border-radius: 50%;
}

.square {
}

