.ranking-box {
    position: fixed;
    top: 50%;
    right: 50px;
    
    height: 600px;

    margin-top: -300px;

    overflow: scroll;
    overflow-x: hidden;
    
}

.ranking-box .ranking {
    list-style: none;
    text-align: left;
}

.ranking-box .ranking li {
    /* border: 1px solid black; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11pt;
    font-weight: 100;

    border-radius: 5%;
    width: 100px;
    height: 30px;

    margin-top: 5px;
    margin-right: 15px;

    cursor: pointer;
}

.ranking-box .ranking li:hover {
    background-color: #EEE;
}

/* .ranking-box .ranking li .area_name {
    float: left;
}

.ranking-box .ranking li .price {
    float: right;
} */
/* Scroll bar */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment { display: none; }
::-webkit-scrollbar-track { background: rgba(0,0,0,.05); }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,.1); }
