.select_view {
    position: relative;
    top: -35px;
}

.left {
    display: inline-block;
    border: 8px solid;
    border-color: transparent #DDD transparent transparent;

    cursor: pointer;
}

.right {
    display: inline-block;
    border: 8px solid;
    border-color: transparent transparent transparent #DDD;

    cursor: pointer;
}

.text {
    position: relative;
    top: -3px;
    display: inline;
    margin: 0 15px 0 15px;

    /* font */
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    cursor: default;
}